/****************************************************************************************
**************   Pseudo namespace with a ns- prefix For the AIG UI Library   ************
****************************************************************************************/
$ns: 'ceylon;

/****************************************************************************************
*****************************   Break points for responsive   ***************************
****************************************************************************************/
$breakpoints: (
    'under-small-screen': 491px,
    'small-screen': 492px,
    'under-medium-screen': 851px,
    'medium-screen': 852px,
    'under-large-screen': 1019px,
    'large-screen': 1020px,
    'xlarge-screen': 1200px,
);

/****************************************************************************************
***************************************   Colors   **************************************
****************************************************************************************/

/*
    Primary colors
*/
$blue: #00a4e4;
$black: #000000;
$white: #ffffff;

/*
    Secondary colors
*/
$orange: #e36f1e;
$green: #78a22f;
$red: #c41c30;
$yellow: #fdb913;
$grape: #b0237c;

/*
     Territory colors
*/
$black: #000000;
$white: #ffffff;


/****************************************************************************************
************************ Padding, Margins and Border Radius *****************************
****************************************************************************************/
$margin: 15px;
$padding: 15px;
$borderRadius: 5px;



/****************************************************************************************
*************************************** Paths *******************************************
****************************************************************************************/
$fontPath: '../css/base/fonts/';
$imagePath: '../assets/images/';


/****************************************************************************************
**************************************** Fonts ******************************************
****************************************************************************************/
$regularFont: 'RobotoSlab-Regular';
$lightFont: 'RobotoSlab-Light';
$thinFont: 'RobotoSlab-Thin';
$heavyFont: 'RobotoSlab-Bold';
$iconFont: 'fontawesome';

/*
    Font family
*/
$primaryFontFamily: Arial, sans-serif;
$bodyFontFamily: $regularFont, $primaryFontFamily;
$heavyFontFamily: $heavyFont, $backup_font_family;


/****************************************************************************************
*************************************** Form ********************************************
****************************************************************************************/